/* MEDIA QUERIES */

@media all and (max-width:560px) {
    .logo-round, img.desktop {
        display:none;
    }
    div.shop {
        width: 49%;
    }
}

@media all and (min-width:561px) and (max-width:899px) {
    .logo-batch, img.mobile {
        display:none;
    }
    nav a {
        font-size:2.6em;
    }



    
}


/*DESKTOP*/    
@media (min-width: 900px) {
    .logo-batch, img.mobile {
        display:none;
    }
    nav a {
        font-size:2.8em;
    }
    
}   